{{ if .Site.Params.fhirfli.enable }}
{{ "<!-- FHIR-FLI Section Start -->" | safeHTML }}
<section id="fhirfli">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.fhifli.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.fhirfli.content }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.fhirfli.image }}<img src="{{ . | absURL }}" alt="fhirfli">{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- FHIR-FLI Section End -->" | safeHTML }}
{{ end }}