baseURL = "https://mayjuun.com/"
languageCode = "en-us"
title = "MayJuun"
theme = "timer-hugo"

# We Used Ionicons Icon font for Icon, for more details check this link - https://ionicons.com/

# Navbar Menus

[[menu.nav]]
name = "Meta-Blog"
url = "blog"
weight = 2
[[menu.nav]]
name = "FHIR-FLI"
url = "fhirfli"
weight = 3
[[menu.nav]]
name = "Flutter Portfolio"
url = "portfolio"
weight = 4
[[menu.nav]]
name = "Figma Gallery"
url = "gallery"
weight = 5
[[menu.nav]]
name = "About"
url = "about"
weight = 6
[[menu.nav]]
name = "Services"
url = "service"
weight = 7
[[menu.nav]]
name = "Contact"
url = "contact"
weight = 8

# Site Params
[params]
home = "Home"
logo = "images/logo.png"
dateFormat = "6 January 2006"
# Meta data
description = "MayJuun: Less Clicking, More Doctoring"
author = "MayJuun"
# Google Analitycs
googleAnalitycsID = "UA-50100304-2"

# Banner Section
[params.banner]
enable = true
bgImage = "images/slider.jpg"
heading = "MayJuun"
description = "Interfaces by Clinicians, for Clinicians"
# button
btn = true
btnText = "Contact Us"
btnURL = "contact"

# flip text
[[params.banner.flipText]]
title = "Less Clicking"
[[params.banner.flipText]]
title = "More Doctoring"

# Homepage About Section
[params.about]
enable = true
title = "About Us"
content = "Founded by clinicians, our mission is to streamline the user experience of the technology seen in healthcare. We make healthcare-focused apps so that you can spend your time at the bedside, not the computer."
image = "images/about/about.jpg"

# FHIR-FLI Introduction Section
[params.fhirfli]
enable = true
title = "FHIR-FLI"
content = "FHIR-FLI is an open-source collaborative with the goal of improving healthcare through the use of the FHIR interoperability standard and the Flutter Toolkit. We believe that lowering the barrier (both technically and monetarily) to entry allows for more innovation, broader applications, and the ability to actually use technology to improve people's lives."
image = "images/fhirfli/fhirfli.jpg"

# Call to Action
[params.cta]
enable = true
title = "Want to Learn More?"
# content = "Tell us your story"
btnText = "Contact Us"
btnURL = "/contact"

# Portfolio Section On Homepage
# [params.portfolio]
# enable = true
# title = "Flutter Portfolio"
# subtitle = "Here are some of our latest projects built with Flutter."

# social icon
# [[params.socialIcon]]
# icon = "ion-social-linkedin"
# url = "#"

# [[params.socialIcon]]
# icon = "ion-social-twitter"
# url = "#"
