{{ define "main" }}

<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>{{ .Title }}</h2>
                    <ol class="breadcrumb list-inline text-center">
                        <li class="list-inline-item">
                            <p></p><a href="{{ .Site.BaseURL }}">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                            &nbsp; &nbsp;/</p>
                        </li>
                        <li class="active list-inline-item">
                            <a href="../">
                            {{ .Section }} </a>
                            &nbsp; &nbsp;/</p></li>
                        <li class="active list-inline-item">
                            {{ .Description }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

{{ "<!-- work details part start -->" | safeHTML }}
<section class="work-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="work-single-sidebar">
                    {{ with .Params.title }}
                    <h5>App</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    {{ with .Params.description }}
                    <h5>Current Policy</h5>
                    <h6>{{ . }}</h6>
                    {{ end }}
                    <h5>Policies</h5>
                    <h6>
                        <ul>
                            <!-- {{ with .Params.id }}
                            <li>
                                
                                <a class="termly-embed" href="#currently-broken">Table of Contents</a></li>
                            {{ end }} -->
                            {{ with .Params.Policies }}
                            {{ range . }}
                              {{ if or (or (eq .title "Back") (eq .title "EULA" )) (eq .title "Privacy Notice") }}
                              <li><a href="{{ .url }}" target="_self" rel="nofollow">{{ .title }}</a></li>
                              {{ else }}
                              <!-- Modify if we want to have different links open in new tabs -->
                              <li><a href="{{ .url }}" target="_self" rel="nofollow">{{ .title }}</a></li>
                              {{ end }}
                            {{ end }}
                        </ul>
                    </h6>
                    {{ end }}
                    {{ with .Params.categories }}
                    <h5>Categories</h5>
                    <h6>
                        <span>
                            {{ delimit . ", " }}
                        </span>
                    </h6>
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-8">
                {{ with .Params.image }}
                <div class="work-single-image">
                    <!-- Work Single Image -->
                    <img class="img-fluid w-50" src="{{ . | absURL }}" alt="work-single-image">
                </div>
                {{ end }}
                <!-- work single Content -->
                {{ with .Content }}
                <div class="work-single-content">
                    {{ . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{"<!-- work details part end -->" | safeHTML }}

{{ partial "cta.html" . }}

{{ end }}